@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-geist-mono: 'Geist Mono', monospace;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #111;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
