// Sass Data Variables
$black-theme-color: #1e272e;
$white-theme-color: #f1f2f6;
$real-theme-color: #b33939;
$mont-font: "Montserrat", sans-serif;
$noto-font: "Noto Serif", serif;

nav {
  background-color: $black-theme-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  width: 100%;
  overflow-x: hidden;

  .navbar-brand {
    text-decoration: none;
    color: $white-theme-color;
    font-family: $mont-font;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      height: 5rem;
    }
  }

  .nav-links {
    display: flex;

    li {
      list-style: none;

      .links {
        color: $white-theme-color;
        text-decoration: none;
        padding: 10px 20px;
        font-family: $noto-font;
      }

      .links:hover{
        color: #c9c9c9;
      }

      .active {
        color: $real-theme-color;
        font-weight: 700;
      }

      .active:hover{
        color: $real-theme-color;
      }

    }
  }

  .navbar-toggler {
    width: 60px;
    height: 42px;
    border-radius: 7px;
    border: $white-theme-color solid 3px;
    background-color: $black-theme-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;

    div.bars {
      width: 30px;
      height: 2px;
      background-color: $white-theme-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav {
    .nav-links {
      position: absolute;
      right: 0;
      width: 100%;
      height: 85vh;
      background-color: $black-theme-color;
      top: 13.5vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transform: translateX(100%);
      transition: all 0.5s ease-in;
    }

    .navbar-toggler {
      display: flex;
    }

    .nav-open {
      transform: translateX(0%);
    }
  }
}
